# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
brett = 6
print(brett)
x= 10
number = 11
print(x)
print(number)

print(type(brett))

#5:35

##### Assinging float

In [ ]:
#5:44
y = 1.5
print(y)
print(type(y))

z= 1.000
print(z)

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
#5:45
num1 = 2
num2 = 4.5

res = num1 + num2
print(res)
res2 = 1 + 2
print(res2)

#short hand
# res = res + 2
res += 2


print(res)

##### Subtraction

In [ ]:
#5:46
dif = num2 - num1
print(dif)

#shorthand
dif - .5

print(dif)

dif -= .5
print(dif)

##### Multiplication

In [ ]:
#5:50
prod = 3*3
print(prod)

#shorthand
prod*=10

print(prod)

##### Division

In [ ]:
#5:52

que = 9/3
print(que)

#shorthand
#que = que / 10
que /= 10
print(que)

##### Floor Division

In [ ]:
#5:53

floor = 9//3
print(floor)

#shorthand
floor//=2
print(floor)

##### Modulo

In [ ]:
#5:54
mod = 11 % 3
print(mod)

#shorthand
mod %= 2
print(mod)

##### Exponential

In [ ]:
#5:59
sq = 5**2
print(sq)

#shorthand
sq**=2
print(sq)

### String Input-Output

##### String Assignment

In [ ]:
#6:02
name = "brett"
print(name)
print(type(name))

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
#6:04
print(name, '&', end=' ')
print('amanda')

##### String Concatenation

In [ ]:
#6:09
first = "brett"
last = "rickheim"

full = first + ' ' + last
print(full)
#immytable can't change it.

##### Type Conversion

In [ ]:
#6:12
num = '32'
print(num)
print(type(num))

print(int(num) + 1)

##### input()

In [ ]:
#6:17
#input will always return a string
name = input('What is your name? ')

age=input("What is your age?")
print('You will be', int(age) + 1, "on your birthday!")

##### format()

In [ ]:
#6:24
# f-string

sentence = f'My name is {name} and I am {age} years old)
print(sentence)

##### Old Way (python 2)

In [ ]:
#6:27 no go

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
#6:28
color = input("What color is your car? ")
year = input("what year is your car? ")
make= input("What make is your car? ")
model= input("What model is your car? ")

results = f'Your color of the car is {color}, the year is {year}, the make is {make}, and the model is {model}'
print(results)

### If Statements

In [ ]:
#6:40
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num100 = 10
num200 = 10

if num100 > num200:
    print('Num 1 is bigger')
elif num100 < num200:
    print('num1 is smaller')
else:
    print('num1 is equal to num2')

##### 'is' keyword

In [ ]:
#6:44
#is looks for referencial equality
#num3 = 55
#num4 = 55
#if num3 is 55:
    #print('They are the same')
    
#brett= [1,1,1]
#amanda= [1,1,1]
#brett == amanda

##### 'in' keyword

In [ ]:
#7:10
char = 'Harry Pottor'
if 'o' in char:
    print('found "o"')

##### 'not in' keyword'

In [ ]:
if 'a' not in char:
    print('no "a"')

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
name = input.lower()("What is your favorite name? ")

if 'p' in name:
    print("found 'p'")
else:
    print(name)

## Using 'and'/'or' with If Statements

In [ ]:
#7:28
name = 'brett'

if 'e' in name:
    print('found it!')

### Elif Statements

### Else Statements

In [ ]:
# see above

### For Loops

In [ ]:
#7:34
# for variable in iterable:
name = 'brett'

for letter in name:
    print(letter)

for index in range (len(name)):
    print(index, name[index])
    # bracket /notation to get corresponding item in that index

##### Using 'in' keyword

In [ ]:
#7:46 see above
name= 'brett'
name[0]

##### Continue Statement

In [ ]:
#7:48 will continue to next iteration
for num in range (10):
    if num == 5:
        continue
    print(num)

##### Break Statement

In [ ]:
#7:50 Ireak out of current loop

In [ ]:
for num in range (10):
    if num == 5:
        break
    print(num)
    
print('done')

##### Pass Statement

In [ ]:
#7:54 mostly used as a placeholder, and will continue on same iteration

In [ ]:
for num in range (10):
    if num == 5:
        pass
    print(num)
    
print('done')

##### Double For Loops

In [ ]:
#7:55
for i in range(3):
    for j in range(2):
        print(f'i is {i}, j is {j}')

### While Loops

In [ ]:
#7:59
num=0
while num < 10:
    print(num)
    num += 1
    
print('done')

##### Looping 'While True'

In [ ]:
#8:04
while true:
    num = imput('guess a number 1-100? ')
    print(f'Your guess is {num}')
    if num == '3':
        print('You win')
        break

##### While & For Loops Used Together

In [ ]:
#8:07
num=0
while num is < 5:
    print(f'while loop iteration: {num}')
    
    for i in range(2):
        print(f"for loop iteration: {i}")
    num +=1 
print(num)

### Built-In Functions

##### range()

In [1]:
#8:09 start, stop, step
for i in range(3,10,3):
    print(i)

3
6
9

##### len()

In [ ]:
#08:10 it checks the length of a varible
name ='brett'
len(name)

##### help()

In [ ]:
#8:11
help(len)

##### isinstance()

In [ ]:
#8:13
isinstance(name, str)

##### abs()

In [ ]:
#8:15
abs(-5)

### Try and Except

In [ ]:
#8:16
while True:
    try:
        guess = int(input('Guess number? '))
        if guess == 5:
            print("nice")
            break
    except:
        print('invalide entry. Please try again')

### Lists

##### Declaring Lists

In [ ]:
#8:25
x = ['brett','style',112, [11,22]]
print(x)
print(type(x))

##### Indexing a List

In [ ]:
x[-1]

##### .append()

In [ ]:
#8:37 in place
numbers= [5,7,9]
numbers.append(11)
print(numbers)

##### .insert()

In [ ]:
#8:40
numbers.insert(2,99)
print(numbers)

##### .pop()

In [ ]:
#8:41
removed = numbers.pop(2)
print(numbers)
print(removed)


##### .remove()

In [ ]:
#8:44
names = ['max','john','max']
names.remove('max')
print(names)

##### del()

In [ ]:
#8:45
del(names[1])
print(names)

##### Concatenating Two Lists

In [ ]:
#8:45
l1 = [1,2,3]
l2 = [5,7,9]
big = l1 + l2
print(big)
print(l1)
print(l2)

##### Lists Within Lists

In [ ]:
#8:48

##### Looping Through Lists

In [ ]:
#8:48
names = ['low','brett','john','max']
for name in names:
    #print(names)
    if name[0].upper() == "B":
        print('B name found', name)
    else:
        pass

for index in range(len(names)):
    if names[index][0].lower() == 'b':
        print(f'b name at index {index}', names[index])

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [9]:
cubes = []
for num in range(1, 11):
    cube = num**3
    cubes.append(cube)
print(cubes,end=' ')

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [8]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
num1=1
num2=101

for x in range(num1,num2):
    prime = True
    for i in range(2,x):
        if (x%i==0):
            prime = False
    if prime == True:
       print(x,end=' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [10]:
age = int(input("What is your age?" ))

if age < 18:
    print('kids')
elif age <= 65:
    print('adults')
else:
    print('seniors')

SyntaxError: invalid syntax (1828718582.py, line 8)